/* Header container styling */
.sticky-container{
  position: sticky;        /* Keeps header on top while scrolling */
  z-index: 100;            /* Keeps the header on top of other elements */
  top: 0; /* Aligns it to the top */
  left: 0;
  width: 100%; /* Full width */
}
.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
  }
  
  /* Logo styling */
  .header-logo {
    aspect-ratio: 1 / 1;
    height: 100px;
    justify-self: start;
  }
  
  /* Navigation container styling */
  .nav-container {
    display: flex;
    gap: 32px;
  }
  
  /* Navigation item styling */
  .nav-home {
    justify-self: center;
    font-weight: bold;
  }
  
  .nav-aboutUs,
  .nav-services {
    justify-self: center;
  }
  
  /* Right-side container styling */
  .rightSide-contianer {
    display: flex;
    width: 260px;
    height: 38px;
    gap: 14px;
    justify-self: flex-end;
  }
  
  /* Search container styling */
  .search-contianer {
    background-color: #778A7F1F;
    border-radius: 31px;
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 21px;
  }
  
  /* Book Now button styling */
  .bookNow-contianer {
    background-color: #A8FFCF;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 9px 19px;
  }
  