.intro-container {
  display: grid;
  grid-template-columns: 1.3fr 0.5fr;
  width: 100%;
  /* height: 100px; */
  color: #150049;
  font-weight: 800;
  font-size: 58px;
  line-height: 66.12px;
  font-family: "Poppins", serif;
  margin-top: 41px;
}
.left-grid {
  max-width: 688px;
  text-align: left;
}
.slogan {
  margin-bottom: 17px;
}
.intro-goal {
  max-width: 409x;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.4px;
  color: #808080;
  margin-bottom: 24px;
}
.intro-buttons {
  display: flex;
  gap: 21px;
}
.book-consult-btn {
  background-color: #a8ffcf;
  /* max-width: 409x; */
  line-height: 21px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 9px 19px;
  font-size: 15px;
}

.video-btn {
  display: flex;
  flex: 0.3;
  line-height: 21px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  align-items: center;
}
.spinner {
  position: absolute;
  left: 406px;
  top: 430px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Complete one full rotation */
  }
}
